 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ site.work-section-title }}</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Free Calls and SMS to anyone that doesn't have the Ciao App. Messaging your grandma with a flip-phone? Calling a landline? Easy, its all free. We do not limit free communications to only Ciao users.
                    </p>
                </div>

                <div class="col-lg-4">
                    <p>Unlimited Ciao to Ciao
                        100% free calls and messages always in between ciao users anywhere in the world
                    </p>
                </div>
                    
                <div class="col-lg-4">
                    <p>Share with your social media or if your friends sign-up with your referral code you will earn credits every month </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download
                    </a>
                </div>
            </div>
        </div>
    </section>