 <!-- About Section -->
    <section class="success" id="{{site.hrefs.second}}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ site.work-section-title }}</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 portfolio-item">
                    <div class=" center-block text-center">
                        <img src="{{site.about.first}}"></img>
                        <h3>Download Ciao</h3>
                    </div>
                    
                    <p>Earn cash credits by simply having Ciao's Sponsored Ads.</p>
                </div>

                <div class="col-md-4 portfolio-item">
                    <div class=" center-block text-center">
                        <img src="{{site.about.second}}"></img>
                        <h3>Use Cash Credits</h3>
                    </div>
                    
                    <p>With your credits you can pay for your loved ones’ phone bills as well as send money abroad. </p>
                </div>
                       

                <div class="col-md-4 portfolio-item">
                    <div class=" center-block text-center">
                        <img src="{{site.about.third}}"></img>
                         <h3>Talk and Text for Free</h3>
                    </div>
                    
                    <p>You can contact Ciao users anywhere in the world.</p>
                </div>
                        
                    
            </div>
            <!-- <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download
                    </a>
                </div>
            </div> -->
        </div>
    </section>