    <!-- Header -->
    <header>
        <div class="container-fluid">
            <div class="row">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval=false>
                           <!-- Carousel indicators -->
                           <ol class="carousel-indicators">
                              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                              <li data-target="#myCarousel" data-slide-to="1"></li>
                              <li data-target="#myCarousel" data-slide-to="2"></li>
                           </ol>   
                           <!-- Carousel items -->
                           <div class="carousel-inner">
                              <div class="item active">
                                    <div class="col-lg-12 foreground-content">
                                        <!-- <img class="img-responsive" src="img/logo.png" alt=""> -->
                                        <div class="intro-text">
                                            <div class="subname">Say goodbye to</div>
                                            <div class="subname">long distance fees, and</div>
                                            <span class="name"><strong>hello to Ciao</strong></span>
                                            <hr class="star-light">
                                            <span class="skills">Never pay for long distance calls or texts again. With Ciao’s app, advertisers foot the bill for your connections </span>
                                            <div class="skills">even internationally -- to loved ones with or without smartphone.</div>
                                            <div class="clearfix"><button type="button" class="btn-padding btn btn-success page-scroll"><a href="#portfolio">Learn More</a></button>
                                            </div>

                                        </div>
                                    </div>
                                    <img class="background-image" src="{{site.background.first}}" alt="First slide">
                              </div>
                              <div class="item">
                                <div class="col-lg-12 foreground-content">
                                    <div class="col-md-6 col-md-offset-1 intro-text">
                                        <span class="subname">Why pay to</span>
                                        <div class="subname">call or text internationally?</div>
                                        <hr class="star-light">
                                        <div class="skills">Talk to your grandma who has a landline </div>
                                        <div class="skills">Text your friend who doesn’t have a smartphone</div>
                                        <div class="skills">Pay for your mom’s cellphone bill in South America</div>
                                        <div class="skills"><strong>For Free</strong></div>
                                        <button type="button" class="page-scroll clearfix btn-padding btn btn-success"><a href="#contact">Join the Waitlist</a></button>
                                    </div>

                                    <div class="col-sm-4 portfolio-item">
                                      <img class="img-responsive" src="img/portfolio/countries.png" alt="">
                                        <img class="img-responsive" src="img/portfolio/carousel-3.png" alt="">
                                    </div>
                                </div>
                                 <img class="background-image" src="{{site.background.second}}" alt="Second slide">
                              </div>
                              <div class="item">
                                <div class="col-lg-12 foreground-content">
                                    <div class="col-sm-4 col-sm-offset-2 portfolio-item">
                                        <img class="img-responsive" src="img/portfolio/carousel-2.png" alt="">
                                    </div>
                                    <div class="col-lg-4 col-sm-offset-1 intro-text">
                                        <span class="subname">Discover</span>
                                        <div class="subname">great products</div>
                                         <div class="subname">and <strong>save</strong></div>
                                        <hr class="star-light">
                                        <span class="skills">With Ciao’s sponsored lockscreen, be the first to know about new products and deals. In return, enjoy free international calls and texts.</span>
                                    </div>

                                    
                                </div>
                                 <img class="background-image" src="{{site.background.third}}" alt="Third slide">
                              </div>
                           </div>
                           <!-- Carousel nav -->
                           <a class="carousel-control left glphyicon" href="#myCarousel" 
                              data-slide="prev"> <i class="fa fa-angle-left fa-4x"></i></a>
                           <a class="carousel-control right glphyicon" href="#myCarousel" 
                              data-slide="next"> <i class="fa fa-angle-right fa-4x"></i></a>
                        </div> 
    
            </div>
        </div>
    </header>