<section id="{{site.hrefs.last}}">
  <div class="row">
    <div class="container">
      <h3>
        Download now and get <bold> 200 free credits </bold>
        <a href="https://play.google.com/store/apps/details?id=com.poptalk.app">
          <img 
            alt="Get it on Google Play"
            src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" 
          />
        </a>
      </h3>
      <h5>Which is like 100 minutes to call a Mexican landline</h5>

      

    </div>
  </div>
</section>
