   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#link-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 <a class="logo" href="#page-top">
                        <img src="/img/favicons/apple-icon-72x72.png" class="img-centered" alt="">
                        <div class="logo-shadow">
                        </div>
                    </a>
                
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="link-navbar">
                <ul class="nav navbar-nav">
                    {% if page.url == site.privacy-url or page.url == site.conditions-url or page.url == site.advertisers-url %}
                        {% include page-navlinks.html %}
                    {% else %}
                        {% include main-navlinks.html %}
                    {% endif %}

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>