<section id="{{site.hrefs.fourth}}">
  <div class="row">
    <div class="container text-center">
      <h2>{{site.phone-section-title}}</h2>

      <div class="col-md-4 pull-left">
        <div class="feature">
          <h3>Free Calls</h3>
          <p>Anywhere</p>
        </div>
        <div class="feature">
          <h3>Lockscreen Ads</h3>
          <p>To Earn Credits</p>
        </div>
      </div>
      <div class="col-md-4" id="phone-container">
      </div>
      <div class="col-md-4 pull-right">
        <div class="feature">
          <h3>Free Calls</h3>
          <p>Anywhere</p>
        </div>
        <div class="feature">
          <h3>Lockscreen Ads</h3>
          <p>To Earn Credits</p>
        </div>
      </div>
    </div>

  </div>
</section>